In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
cali = pd.read_csv('Cali 1980.csv')
cali.head()

,CONTRDATED,TOTALACRES,SEASON,CLASS,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1/17/1980,1.0,WINTER,B,Row Labels,Count of SEASON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/24/1980,0.0,WINTER,A,FALL,39,24.53%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3/27/1980,5.0,SPRING,B,SPRING,17,10.69%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3/28/1980,0.0,SPRING,A,SUMMER,100,62.89%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3/31/1980,1.0,SPRING,B,WINTER,3,3.00%,NaN,Season,Frequency,percentage,NaN,NaN,NaN,NaN

In [9]:
cali = cali[['CONTRDATED','TOTALACRES','SEASON','CLASS']]
cali.head()

  CONTRDATED  TOTALACRES  SEASON CLASS
0  1/17/1980         1.0  WINTER     B
1  1/24/1980         0.0  WINTER     A
2  3/27/1980         5.0  SPRING     B
3  3/28/1980         0.0  SPRING     A
4  3/31/1980         1.0  SPRING     B

In [10]:
cali['CLASS'].value_counts()

A    89
B    20
C    15
E    13
D    11
F     8
G     3
Name: CLASS, dtype: int64

In [11]:
cali['CLASS'].value_counts(normalize=True)

A    0.559748
B    0.125786
C    0.094340
E    0.081761
D    0.069182
F    0.050314
G    0.018868
Name: CLASS, dtype: float64

In [24]:
cali[cali['SEASON'] == 'FALL']['CLASS'].value_counts()

A    24
E     5
B     4
D     2
C     2
F     1
G     1
Name: CLASS, dtype: int64

In [29]:
cali[cali['SEASON']=='FALL']['TOTALACRES'].sum()

34811.1

In [21]:
x = np.array([])
for i in cali['CLASS'].value_counts(normalize=True):#.unique():
    np.insert(x,i,i)
print(x)

[]